.wrapper {
    background: rgb(20, 20, 20);
    // width: 100vw;
    // height: 994.25px;
    // padding-left: 40px;
}

.inner {
    width: 1316.69px;
    height: 100%;
    padding: auto;
    margin: auto;
    position: relative;
}

.header {
    height: 62.39px;
    background-color: rgb(38 38 38);
    margin-bottom: 20px;
    border-radius: 5px;
}

.btn {
    color: var(--primary-text);
    font-size: 1.76rem;
    background-color: transparent;
    border: none;
    justify-content: center;
    padding: 18px 30px;
    align-items: center;
}

.container {
    // display: flex;
    // overflow-wrap: break-word;
    // justify-content: space-between;
    // flex-wrap: wrap;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 24px;
    row-gap: 24px;

    a {
        text-decoration: none;
    }
}
.content {
    border-top-right-radius: 0.6rem;
    border-top-left-radius: 0.6rem;
    max-width: 311.31px;
}

// .container + .container {
//     margin-right: 20px;
// }
.content + .content {
    margin-bottom: 20px;
}

.content-top {
    position: relative;
}

.img {
    max-width: 311.31px;
    height: 311.31px;
    border-top-right-radius: 0.6rem;
    border-top-left-radius: 0.6rem;
    object-fit: cover;
}

.top-discount {
    position: absolute;
    right: 0;
    top: 0;
    width: 52.13px;
    height: 67.19px;
    background-color: red;
    border-top-right-radius: 0.6rem;
}

.discount {
    color: var(--primary-text);
    font-size: 16.8px;
    width: 100%;
    height: 29.19px;
    display: flex;
    justify-content: center;
}

.discount1 {
    color: var(--primary-text);
    font-size: 12px;
    width: 100%;
    height: 38px;
    display: flex;
    justify-content: center;
    padding-top: 0;
}

.content-bottom {
    padding: 4px 12px 12px;
    background: #262626;
    border-bottom-right-radius: 0.6rem;
    border-bottom-left-radius: 0.6rem;
}

.title-name {
    color: var(--gray-color);
    font-size: 1.12rem;
}

.title-name2 {
    color: var(--primary-text);
    font-size: 1.4rem;
}

.sale-off {
    color: var(--gray-color);
    text-decoration: line-through;
    font-size: 1.6rem;
}

.sprice {
    color: var(--primary-text);
    font-size: 1.8rem;
}

.sold {
    color: var(--gray-color);
    font-size: 1.2rem;
    text-align: end;
}

.pagination-content {
    display: flex;
    justify-content: flex-end;
    margin-top: 32px;
    margin-bottom: 24px;
}

.pagination-inner {
    display: flex;
}

.pagination-inner_btn1 {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 0;
    font-size: 1.6rem;

    background-color: transparent;
    color: var(--primary-text);

    &:hover {
        background-color: rgb(45 55 72);
    }
}
.pagination-inner_btn2 {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 0;
    font-size: 1.6rem;

    background-color: transparent;
    color: var(--primary-text);

    &:hover {
        background-color: rgb(45 55 72);
    }
}

.pagination-inner_group {
    font-size: 1.6rem;
    color: var(--primary-text);
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;

    // .active {
    //     color: rgb(45 55 72);
    // }
}

.pagination-inner_list_item {
    padding-right: 4px;

    .active {
        color: rgb(45 55 72);
    }
}

.pagination-inner_list_item:first-child {
    padding-left: 4px;
}

.pagination-inner_item {
    padding: 0 4px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 0;
    background-color: transparent;
    color: var(--primary-text);

    &:hover {
        background-color: rgb(45 55 72);
    }
}

.pagination-inner_item .active {
    padding: 0 4px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 0;
    color: var(--primary-text);
    background-color: rgb(45 55 72);
}

.pagination-inner_btn {
}
